* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic Coding', monospace;
}
:root {
  --red: #E41D1D;
  --grey: #545454;
}
html, body {
  height: 100%;
  width: 100%;
  padding-top: 65px;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
header {
  position: fixed;
  left:0;
  right:0;
  top:0;
  display: flex;
  justify-content: space-between;
  align-content: bottom;
  top: 15px;
  width:90%;
}
.header-left {
  display: flex;
  align-content: center;
}
.logo-text {
  font-size: 35px;
  color: var(--grey);
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: bold;
}
header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
header ul li {
  margin: 25px;
}
nav a {
  text-decoration: none;
  color: var(--grey);
  font-size: 20px;
}
nav a:hover {
  color: var(--red);
  transition: color .2s ease-in;
}

.icon-wrapper {
  width:50px;
}
main {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 65px;
}
.intro {
  line-height: 1.8;
  width: 60%;
}
.intro h2 {
  font-size: 50px;
}
.intro h3 {
  margin-bottom: 20px;
  font-size: 40px;
}
.intro p {
  font-size: 21px;
  margin-bottom: 20px;
}
.special {
  color: var(--red);
  font-weight: bold;
}

.project-button {
  background-color: var(--red);
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}
.project-button:hover {
  background-color: var(--grey);
  transition: background-color .2s ease-in;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.about-left {
  margin: 15px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid black;
}
.avatar {
  border-radius: 50%;
}
.about-right {
  width: 80%;
  padding: 20px;
  margin-left: 10px;
  border: 1px solid black;
}
.about-right p {
  font-size: 21px;
}
.about-right a {
  color: var(--red);
  font-weight: bold;
  text-decoration: none;
}
.about-right a:hover {
  color: var(--grey);
  transition: color .2s ease-in;
}
.currently-reading {
  padding: 10px;
  background-color: rgba(228, 29, 29, 0.9);
  color: white;
}
.book {
  font-style: italic;
  color: rgb(69, 39, 69);
}
.content-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.top h2 {
  font-size: 50px;
  color: var(--red);
  font-weight: bold;
}
.top p {
  font-size: 21px;
}
.projects-wrapper {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}
.card {
  margin: 10px;
  text-align: center;
  font-size: 21px;
}
.card p {
  font-weight: bold;
}
.modal-button{
  text-decoration: none;
  color: var(--grey);
  font-weight: bold;
  padding: 5px;
  border: 1px solid var(--grey);
  background-color: #EFEFEF;
}
.modal-button:hover {
  color: var(--red);
  transition: color .2s ease-in;
}
.modal {
  display: none;
  position: fixed;
  z-index: 67;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  font-family: 'Nanum Coding Gothic', monospace;
}
.modal-content {
  background-color: rgba(97, 97, 97, 0.9);
  margin: 15% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.modal-body {
  display: flex;
  justify-content: space-between;
}
.modal-image {
  width: 100%;
  height: 300px;
}
.modal-left {
  width: 70%;
  margin-right: 10px;
}
.modal-right {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.modal-text {
  text-align: left;
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: white;
}
.modal-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tech { 
  background-color: var(--red);
  text-align: center;
}
.deployment-button {
  height: 50px;
  width: 40%;
  margin-right: 10px;
  background-color: var(--grey);
  border: 1px solid black;
}
.deployment-button a {
  font-size: 1.33rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Nanum Gothic Coding', monospace;
  
}
.repo-link {
  font-size: 1.33rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 3px red;
}
.repo-link:hover {
  color: white;
}
.close {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-right: 15px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}